<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->

  <title>Mobile Cridet Sales Mgt System</title>
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/sidebar.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/style.css">

  {{!--
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script> --}}
  {{!--
  <link rel="stylesheet" href="../static/js/fontawesome.js"> --}}
  <script src="../static/js/solic.js"></script>


</head>

<body>
  {{!-- {{>navbar}} --}}
  {{!-- {{>sidebar}} --}}
  <div class="contain">
    <div class="container-fluid">
      {{>banner}}
    </div>
    <div class="main">
      <div class="leftybar">
        {{>sidebar}}
      </div>
      <div class="righty">
        <div class="maintop">
          {{>maintop}}
        </div>
        {{!-- Contenst Start --}}

        <div class="contents">
          <div class="formtitle">
            <h2> Add New Customer </h2>
          </div>
          {{#each alerts}}
                	<div class="alert alert-warning alert-dismissible fade show" role="alert">
                    	{{msg}}
                    	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  	</div>  
          {{/each}}

          {{#if chmsg}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <text style="color:red">mobile no or email already existed</text>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {{/if}}
          {{#if chmsg2}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <text style="color:red">Customer Unique ID already existed</text>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {{/if}}

          <div class="mainform">
            <div class="addemployee">

              <form action="/api/addNewCustomer" method="post" class="" id="addEmployee">
                <table style="width:100%; ">
                  <tr>
                    <th style="width:30%;"> </th>
                    <th> </th>
                  </tr>

                                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Customer Unique ID: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="customer unique id" name="cust_u_id" autofocus>
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="">
                        <label for=""> First Name: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="First Name" name="cust_fname" autofocus>
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Last Name: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="Last Name" name="cust_lname" >
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>


                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Mobile Number: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="Mobile Number" name="cust_mobile" >
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Email: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="Email" name="cust_email">
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>


                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Commission (in percentage): </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="percentage in number only" name="cust_comi">
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="">
                        <label for=""> Address: </label>
                      </div>
                    </td>
                    <td>
                      <div class="txt_field">
                        <input type="text" placeholder="adress" name="cust_address">
                        <label for=""> </label>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td>...</td>
                    <td>...</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="btns">
                      <input type="reset" class="" value="Reset" id="resetEmpForm">
                      <input type="submit" value="Submit" id="submitEmpForm">
                      <span></span>
                    </td>
                  </tr>

                </table>
              </form>
              <span></span>
            </div>
          </div>
        </div>
        {{!-- Contents End --}}
      </div>
    </div>
  </div>
  {{>footer}}

  <script src="../static/js/bootstrap.bundle.min.js"></script>

  <!-- Optional JavaScript; choose one of the two! -->
  <script src="jquery-3.3.1.slim.min.js"></script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/popper.min.js"></script>
  <script src="../static/js/solic.js"></script>

</body>

</html>